* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Satoshi';
    background-color: #247fef20;
    // background-image: url('../assets/white-ball.png');
    // background-repeat: no-repeat;
    // background-size: 33vw;
    // background-position: -16vw 66vh;
    
}