* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Satoshi';
    // background: linear-gradient(135deg, #F7444E 0%, #F7444E90 67%);
    background-image: linear-gradient(135deg, rgba(218, 170, 170, 0.95) 0%, rgba(218, 170, 170, 0.95) 67%), url('../assets/bg-ball.png');
    // background-image: linear-gradient(135deg, rgba(158, 167, 211, 0.92) 0%, rgba(158, 167, 211, 0.92) 67%), url('../assets/bg-ball.png');
    background-size: 160px;
    background-attachment: fixed;
    background-position: -151% 0%;
}